.budget-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.budget-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.budget-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-top: 10px;
}

.btn-primary {
    margin-left:10px;
}

.form-control {
    margin-bottom: 10px; /* Space between input and button */
}
